{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	      {% if messages %}

	        <ul>
	        {% for message in messages %}
	            <li> {{ message }} </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}
	</div>

	<div class="row divider red">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-sm-12 col-md-10 padding-none">
			<h1>{{ restaurant.name }}</h1>
		</div>
		<div class="col-sm-offset-10 col-sm-2 col-md-2">
			<figure class="creator">
				<h4> Posted By: </h4>
				<img src="{{ restaurant.user.picture }}" alt="Creator's profile picture">
				<figcaption> {{ restaurant.user.name }} </figcaption>
			</figure>
		</div>
	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('editRestaurant', restaurant_id = restaurant.id )}}">
				<button class="btn btn-default" id="new-menu-item">
					Edit Restaurant
				</button>
			</a>
			<a href="{{url_for('newMenuItem', restaurant_id = restaurant.id )}}">
				<button class="btn btn-default" id="new-menu-item">
					Add Menu Item
				</button>
			</a>
			<a href="{{url_for('deleteRestaurant', restaurant_id = restaurant.id )}}">
				<button class="btn btn-default delete" id="delete-restaurant">
					Delete Restaurant
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>

	{% if items !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2 class="menu-head">Appetizers</h2>
					{% for i in items %}
						{% if i.course == 'Appetizer' %}
							<div class="menu-item">
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<p class="menu-price">{{i.price}}</p>
								<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Edit</a> |
								<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Delete</a>
							</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-4">
				<h2 class="menu-head">Entrees</h2>
					{% for i in items %}
						{% if i.course == 'Entree' %}
						<div class="menu-item">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="menu-price">{{i.price}}</p>
							<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Edit</a> |
							<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Delete</a>
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-3">
				<h2 class="menu-head">Desserts</h2>
					{% for i in items %}
						{% if i.course == 'Dessert' %}
						<div class="menu-item text-cen">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="menu-price">{{i.price}}</p>
							<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Edit</a> |
							<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Delete</a>
						</div>
						{% endif %}
					{% endfor %}
				<h2 class="menu-head">Beverages</h2>
					{% for i in items %}
						{% if i.course == 'Beverage' %}
						<div class="menu-item">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="menu-price">{{i.price}}</p>
							<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Edit</a> |
							<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Delete</a>
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
